:root {
  --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  --msger-bg: #25a15e;
  --border: 4px solid #ffffff;
  --left-msg-bg: #5ad192;
  --right-msg-bg: #25a15e;
}

.chatbot {
  bottom: 0;
  right: 10rem;
  display: flex;
  justify-content: end;
  align-items: end;
  height: 550px;
  position: fixed;
  z-index: 6;
}

.msger {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;
  /* margin: 0px 110px; */
  max-width: 400px;
  height: calc(100% - 50px);
  border: var(--border);
  border-top-left-radius: 1.7rem;
  border-top-right-radius: 1.7rem;
  background: var(--msger-bg);
  box-shadow: 0px 15px 15px -5px rgba(0, 0, 0, 0.2);
  transform: translateY(438px);
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
}

.msger.active {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;
  /* margin: 0px 110px; */
  max-width: 400px;
  height: calc(100% - 50px);
  border: var(--border);
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  background: var(--msger-bg);
  transform: translateY(0.5px);
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
}

.msger-header {
  cursor: pointer;
  font-size: 1.3rem;
  justify-content: space-between;
  padding: 16px;
  border-bottom: var(--border);
  background: #25a15e;
  color: rgb(255, 255, 255);
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.msger-chat {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}
.msger-chat::-webkit-scrollbar {
  width: 0px;
}
.msger-chat::-webkit-scrollbar-track {
  background: #ddd;
}
.msger-chat::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}
.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
  animation: floatup 0.5s backwards;
}

.msg-img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

@keyframes floatup {
  from {
    transform: translate(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.msg-bubble {
  max-width: 230px;
  padding: 15px;
  border-radius: 15px;
  margin-top: 1rem;
  background: var(--left-msg-bg);
}
.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: fit-content;
}
.msg-info-name {
  margin-right: 10px;
  font-weight: bold;
  font-size: 1rem;
}
.msg-info-time {
  font-size: 0.8em;
}

.left-msg {
  font-size: 0.85rem;
}

.left-msg .msg-bubble {
  margin-right: 1.3rem;
  border-bottom-left-radius: 0;
}

.right-msg {
  flex-direction: row-reverse;
  font-size: 0.85rem;
}
.right-msg .msg-bubble {
  background: var(--right-msg-bg);
  color: #fff;
  border-bottom-right-radius: 0;
}
.right-msg .msg-img {
  margin: 0 0 0 10px;
  background-color: #585858;
}

.msger-inputarea {
  display: flex;
  padding: 10px;
  border-top: var(--border);
  background: #86d3aa;
}
.msger-inputarea * {
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 1em;
}
.msger-input {
  flex: 1;
  background: #ffffff;
}
.msger-send-btn {
  margin-left: 10px;
  background: #25a15e;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.23s;
}
.msger-send-btn:hover {
  background: #0e944d;
}

.msger-chat {
  background-color: #86d3aa;
  background-repeat: none;
  background-size: cover;
}
